#text{
    height: 25px;
    border-radius: 5px;
    padding: 4px;
    border: solid thin rgb(10, 201, 36);
    display: flex;
}

#button{
    padding: 10px;
    width: 100px;
    background-color:lightblue;
    border: none;
}

#box{
    background-color:rgba(8, 184, 87, 0.466);
    margin: auto;
    width: 300px;
    padding: 20px;
   

}